.container {
    display: inline-block;
    margin-top: 15vh;
    margin-right: 1%;
    margin-left: 1vh;
    width: 15%;
    height: 89.5vh;
    /* border:1px solid red; */
    vertical-align: top;
  }