<main>
  <h1>{{name}}</h1>
  <img class="cube"
    src="{{imageURL}}">
    <p><span>Description:</span> {{description}}</p>
    <p><span>Difficulty level:</span> {{dificulty}}</p>
    <a class="btn" href="/">Back</a>
  </div>
</main>
